<! — views/partials/footer.ejs → >
<div class="my-modal"><!-- Place at bottom of page --></div>
<footer class="footer navbar-default">
    <p class="text-center text-muted">© Copyright 2017 <a href="http://www.google.com">Pepito design</a></p>
</footer>