<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <h1>Productos</h1>
        <div class="row">
          <% for(var i = 0; i<products.length; i++){ %>
          <div class="col-xs-6 col-md-4">
              <div class="thumbnail">
                  <img src="http://placehold.it/242x200" >
                  <div class="caption">
                      <h3><%= products[i].name %></h3>
                      <p>$ <%= products[i].price %></p>
                      <p><a href="/product/<%= products[i].id %>" class="btn btn-primary" role="button">Mas info</a></p>
                  </div>
              </div>
          </div>
          <% } %>
        </div>
      <% include ../partials/footer.ejs %>
      <% include ../partials/scripts.ejs %>
    </div>
  </body>
</html>
